<div ng-controller='DashboardsController'>

<a href="#/dashboard">Cancel</a>
<h3>Put the questions and options here</h3>

	<form name="form" class="css-form" novalidate>

		<p>Question: <input type="textarea" ng-model="newPoll.question" placeholder="question" name="question" required="" ng-minlength="8" /></p>
			<div ng-show="form.$submitted || form.question.$touched">
		    	<div ng-show="form.question.$error.required" style="color: red;">Please enter the question</div>
		    </div>
		    <span style="color:red" ng-show="form.question.$error.minlength">
      			Your Question Should Contain Atleast 8 Characters
      		</span>

		<p>Option 1: <input type="text" ng-model="newPoll.option1_option" placeholder="Option 1" name="option" required="" ng-minlength="3" /></p>
			<div ng-show="form.$submitted || form.option.$touched">
		    	<div ng-show="form.option.$error.required" style="color: red;">Please enter the option</div>
		    </div>
		    <span style="color:red" ng-show="form.option.$error.minlength">
      			Your Option Should Contain Atleast 3 Characters
      		</span>

		<p>Option 2: <input type="text" ng-model="newPoll.option2_option" placeholder="Option 2" name="option2" required="" ng-minlength="3" /></p>
			<div ng-show="form.$submitted || form.option2.$touched">
		    	<div ng-show="form.option2.$error.required" style="color: red;">Please enter the option</div>
		    </div>
		    <span style="color:red" ng-show="form.option2.$error.minlength">
      			Your Option Should Contain Atleast 3 Characters
      		</span>

		<p>Option 3: <input type="text" ng-model="newPoll.option3_option" placeholder="Option 3" name="option3" required="" ng-minlength="3" /></p>
			<div ng-show="form.$submitted || form.option3.$touched">
		    	<div ng-show="form.option3.$error.required" style="color: red;">Please enter the option</div>
		    </div>
		    <span style="color:red" ng-show="form.option3.$error.minlength">
      			Your Option Should Contain Atleast 3 Characters
      		</span>

		<p>Option 4: <input type="text" ng-model="newPoll.option4_option" placeholder="Option 4" name="option4" required="" ng-minlength="3" /></p>
			<div ng-show="form.$submitted || form.option4.$touched">
		    	<div ng-show="form.option4.$error.required" style="color: red;">Please enter the option</div>
		    </div>
		    <span style="color:red" ng-show="form.option4.$error.minlength">
      			Your Option Should Contain Atleast 3 Characters
      		</span>

	</form>

<a href="#/dashboard"><input type="submit" ng-click="addPoll(newPoll)" value="Create Poll" class="btn-primary"></a>

</div>